div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 1300px) { 
  div {
    flex-direction: column;
  }
}