#root {
  width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: start;
  
}

article {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1300px) { 
  main {
    grid-template-columns: 1fr;
    
  }
}
table {
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(32, 32, 32);
  td {
    padding: 5px;
  }
  tr:not(:last-child) td {
    border-bottom: 1px solid white;
  }
}

.red {
  background-color: red;
  font-weight: bolder;
}
.green {
  background-color: green;
  font-weight: bolder;
}